/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""CSS RESET"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    /*article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	 display: block; */
    }
    body {
    	line-height: 1;
    }

    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""GENERAL"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

p, li, span, label, .doctor_card a {
font-family: 'Cutive Mono', monospace;
}

.margin_base{
margin: 30px 0px;
}

h3, h4{
  padding-bottom: 10px;
}

h4{
  font-weight: bold;
}

h2{
  color: black;
}

h1, h2, .title, h3, button{
  font-family: 'Major Mono Display', monospace;
}

.flex{
  display: flex;
}

header .navbar-collapse, .copyrights{
  margin-left: 300px;
}

nav a{
  padding-right: 15px!important;
}

.navbar{
  padding: 0px 8px;
}

.top{
  background-image: url("../images/medication.jpg")!important;
}

.top_cover{
  background-image: url("../images/medication.jpg")!important;
  height: 100px;
}

.bg-primary {
 background-color: #4C191B!important ;
}

.med_choices a{
  color: white
}

.btn{
  background-color: white;
  color: black;
  border-color: yellow;
  margin: 7px;
}

.account a{
  text-align: center!important;
}

.med_choices{
  text-align: center;
  margin: 30px 0px;

}

.med_choices span{
  font-size: 1em;
  padding: 20px;
}

.med_choices a{
  color: white;
 }

.benefits{
  display: flex;
  justify-content: space-around;
}

.top_type{
  margin: 0px 30px;
  width: 350px!important;
}

.search{
  padding-top: 20px;
}

.subtitle{
  text-align: center!important;
  padding: 10px 0px;
}


/********
   BENEFICES
         *********/

.benefits img{
  width: 55px;
  margin: auto;
}


/********
   PROS DE SANTE
         *********/

.container-fluid, .benefits{
  margin-top: 50px;
  border-top: 1.5px yellow dotted;
}





/********
   TEAM
         *********/

figure img{
  width: 150px;
  height: 150px;
  border-radius:50%;
  padding-bottom: 5px;
}

/********
   FORMULAIRE
         *********/

.send_button{
  background-color: #B3DEC1;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  border-color: #FEFFFE;
}

.contact h2, .contact p{
  padding: 30px 0px 10px 0;
}

.contact p{
padding: 0 0 20px 0;
 }

.contact{
  background-color: #E5FCF5;
  width: 100%;
}

/********
   FICHE MEDECIN
         *********/
.doctor_card {
  display: flex;
  margin-left: 40px;
}
.doctor.top{
  height: 100px;
}

.card_text{
  width: 200px;
}

.card-body{
  width: 800px;
}

.card.presentation{
  width: 600px;
  margin: 100px 20px 20px 20px;
}

.onglet p{
  width: 530px;
}

.card.address, .card.price{
  width: 650px;
  margin: 20px;
}

.onglet{
display: flex;
flex-direction: column;
}

#card_main.card{
  width: 500px!important;
}

.portrait{
  display: flex;
}

.card_img_top{
  width: 100px;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
}

.card_title_doctor{
  flex-position: column;
  margin-top : 40px;
}

.card_title_doctor h3{
  margin: 0px!important;
  padding-bottom: 3px!important;
}


/*********
 TEMPLATE CARD
 ***************/

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2)!important;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.list-group-item{
  width: 225px;
}
