/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""CSS RESET"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
    /* http://meyerweb.com/eric/tools/css/reset/
       v2.0 | 20110126
       License: none (public domain)
    */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
    	margin: 0;
    	padding: 0;
    	border: 0;
    	font-size: 100%;
    	font: inherit;
    	vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    /*article, aside, details, figcaption, figure,
    footer, header, hgroup, menu, nav, section {
    	 display: block; */
    }
    body {
    	line-height: 1;
    }

    ol, ul {
    	list-style: none;
    }
    blockquote, q {
    	quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
    	content: '';
    	content: none;
    }
    table {
    	border-collapse: collapse;
    	border-spacing: 0;
    }

/*"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""
""""""""""""""""""""""""""""""GENERAL"""""""""""""""""""""""""""""""""""""""
"""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

i{
  font-size: 1em;
  padding-right: 10px;
}

p, li, span, label, h4, option, select, .doctor_card a {
font-family: 'Cutive Mono', monospace;
}

.margin_base{
margin: 30px 0px;
}

h3, h4{
  padding-bottom: 10px;
}

h4{
  font-weight: bold;
}

h2{
  color: black;
}

h1, h2, .title, h3, button{
  font-family: 'Major Mono Display', monospace;
}

.flex{
  display: flex;
}

header .navbar-collapse, .copyrights{
  margin-left: 300px;
}

nav a{
  padding-right: 15px!important;
}

.navbar{
  padding: 0px 8px;
}

.top{
  background-image: url("../images/medication.jpg")!important;
}

.top_cover{
  background-image: url("../images/medication.jpg")!important;
  height: 100px;
}

.bg-primary {
 background-color: #4C191B!important ;
}

.med_choices a{
  color: white
}

.btn{
  background-color: white;
  color: black;
  border-color: yellow;
  margin: 7px;
}

.account a{
  text-align: center!important;
}

.med_choices{
  text-align: center;
  margin: 30px 0px;

}

.med_choices span{
  font-size: 1em;
  padding: 20px;
}

.med_choices a{
  color: white;
 }

.benefits{
  display: flex;
  justify-content: space-around;
}

.top_type{
  margin: 0px 30px;
  width: 350px!important;
}

.search{
  padding-top: 20px;
}

.subtitle{
  text-align: center!important;
  padding: 10px 0px;
}

/********
   NAV
         *********/

.navbar-nav.top-nav{
  margin-right: 0px!important;
  padding-left: 145px;
}


/********
   BENEFICES
         *********/

.benefits img{
  width: 55px;
  margin: auto;
}


/********
   PROS DE SANTE
         *********/

.container-fluid, .benefits{
  margin-top: 50px;
  border-top: 1.5px yellow dotted;
}

/********
   TEAM
         *********/





/********
   TEAM
         *********/

figure img{
  width: 150px;
  height: 150px;
  border-radius:50%;
  padding-bottom: 5px;
}

/********
   FORMULAIRE
         *********/

.send_button{
  background-color: #B3DEC1;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  border-color: #FEFFFE;
}

.contact h2, .contact p{
  padding: 30px 0px 10px 0;
}

.contact p{
padding: 0 0 20px 0;
 }

.contact{
  background-color: #E5FCF5;
  width: 100%;
}

/********
   FICHE MEDECIN
         *********/
.doctor_card {
  display: flex;
  margin-left: 40px;
}
.doctor.top{
  height: 100px;
}

.card_text p{
  width: 100px;
}

.card-text.doctor {
  width: 668px!important;
}

.card-text.doctor.maps {
  width: 400px!important;
}

.card-body.card_benefits{
  width: 245px;
}

.card-body{
  width: 600px;
}


.card.presentation{
  width: 835px;
  margin: 30px 20px 10px 20px;
}

.presentation_insupply{
  line-height: 30px;
  padding-top: 20px;
}


.onglet p, .card.address p, .card.price p{
  width: 730px;
  font-size: 1em;
  padding-top: 5px;
}

.card.address, .card.price{
  width: 835px;
  margin: 20px;
}

.onglet{
display: flex;
flex-direction: column;
}

#card_main.card{
  width: 500px!important;
}

.portrait{
  display: flex;
}

.card_img_top{
  width: 100px;
  border-radius: 3px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 20px;
}

.card_title_doctor{
  flex-position: column;
  margin-top : 40px;
  font-size: 1.2em;
}

.card_title_doctor h3{
  margin: 0px!important;
  padding-bottom: 3px!important;
}

.card-title{
  margin-bottom: 0!important;
}


/*********
 NAV DOCTOR CARD
 ***************/

 .doctor_nav ul{
   display: flex;
   height: 80px;
   font-size: 1.1em;
   margin-left: 200px;
 }

 .doctor_nav li{
   padding-top: 28px;
 }

 .doctor_nav a{
      text-underline-offset: 30px;
      color: black;
 }

 .doctor_nav a:hover{
      text-decoration: none;
      padding-bottom: 30px;
      border-bottom: 2px solid #fdc400;
 }

 .doctor_cover{
   box-shadow: 0 0 4px 0 black;
 }

 /*********
  BUTTON CARD
  ***************/

 .btn_doctor{
   font-size: 0.7em;
   background-color: #B3DEC1;
   border-color: #E5FCF5;
   font-weight: bold;
 }

 .btn_doctor.infos{
   font-size: 1.2em;
   background-color: #B3DEC1;
   border-color: #E5FCF5;
   font-weight: bold;
   text-align: center;
   width: 836px;
   margin: 0 0 20px 20px;
 }

 /*********
  MAPS
  ***************/
.mapouter{
  position:relative;
  text-align:right;
  height:270px;
  width:445px;
}

.gmap_canvas {
  overflow:hidden;
  background:none!important;
}

.card_doctor.address{
  display: flex;
}

/*********
 TEMPLATE CARD
 ***************/

.card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2)!important;
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

.list-group-item{
  width: 225px;
}


/********
   FOOTER
         *********/

footer{
  margin-bottom: 25px;
}

/********
   COOKIES
         *********/
.cookies{
  background-color: whitesmoke;
  position: fixed;
  bottom: 0px;
  height: 30px;
  display: flex;
  justify-content: space-around;
}

.cookies p{
  text-align: center;
  font-style: italic;
  color: black;
  font-size: 0.8em;
  padding-top: 9px;
}

.cookies button{
  width: 120px!important;
  height: 20px!important;
  font-size: 0.7em;
  margin-top: 4px!important;
  padding-top: 2px!important;
}


/********
   CALENDAR
         *********/

.bold{
  font-weight: bold;
}
.calendar{
  position: absolute;
  top: 134px;
  right: 46px;
  width: 461px;
  height: 590px;
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  background-color:white;
  border-radius: 4px;
  border: 2px #6ea9d5 solid;
  box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);}

.calendar_title{
width: 100%;
background-color: #6ea9d5;
color: white;
padding: 10px;
box-shadow: 0 0 3px 0 black;
}

.calendar_address, .calendar_selector{
  padding: 30px 10px 20px 30px;
  border-bottom: 1px #eef2f6 solid;
}

.calendar_button_1{
  position: absolute;
  top: 101px;
  right: 447px;
  width: 30px;
}

.calendar_button_2{
  position: absolute;
  top: 215px;
  right: 447px;
  width: 30px;
}

.calendar_button_3{
  position: absolute;
  top: 327px;
  right: 447px;
  width: 30px;
}

.calendar_image{
  text-align: center;
}
.calendar_image img{
  width: 329px;
}

/*************
     TARIFS
        *********/

.pricelist{
  margin: 30px;
  display: flex;
  justify-content: space-between;
 border-bottom: 1.5px #efefe5 dotted ;


}
